*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.list{
  list-style: none;
  display: flex;
  gap: 25px;
  max-width: 900px;
  
}
