*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-wrap: wrap;
  max-width: 974px;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;
}

.card-wrapper{
  display: flex;
  gap: 25px;
}